.shield-img {
    position: relative;
    top: 3px;
    height: 17px;
}


.large-table-page {
    .content:not(.custom) {
        max-width: 95%;
        margin: 0 auto;
        padding: 2rem 2.5rem;
    }
}